/* 上下左右揃え */

.vertical-middle {
    background: yellow;
    display: inline-block;
    /* インライン要素にすることで横に回り込む */
    vertical-align: middle;
    /* 上下中央に寄せる */
}

/* カード関連 */

.box-card {
    margin-bottom: 20px;
}

/* ラジオボタン */

.el-radio-group {
    vertical-align: bottom;
}